BOT_TOKEN=314833444:Jd9ItAiRdjGeudweNCLnUXk-H8o5Yy5DR90
BALE_API_URL=https://tapi.bale.ai/bot{0}/{1}
BALE_FILE_URL=https://tapi.bale.ai/file/bot{0}/{1}
SQLITE_PATH=data/bot_cache.db
MYSQL_ENABLED=0
MYSQL_HOST=bonyad.flowplanner.ir
MYSQL_USER=flowpla1_fazele
MYSQL_PASS=270z7hIeEI[s)kF~
MYSQL_DB=flowpla1_bonyad
SUPER_ADMINS=1129742448,541843838
DB_BACKUP_INTERVAL=3600
LATE_REMINDER_INTERVAL=1800
SHORTAGE_CHECK_INTERVAL=10
LATE_THRESHOLD_SECONDS=600
DAILY_REPORT_HOUR=23
DAILY_REPORT_MINUTE=30
